<!DOCTYPE html>
<html>
  <head>
    <title>hexagonal.js - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="container">
      <div class="navbar">
        <nav class="navbar-inner">
          <ul class="nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="https://twitter.com/hexagonaljs">Twitter</a>
            </li>
            <li>
              <a href="https://groups.google.com/forum/?fromgroups#!forum/hexagonaljs">Forum</a>
            </li>
            <li>
              <a href="irc://chat.freenode.net/hexagonal-js">IRC: #hexagonal-js@freenode.net</a>
            </li>
          </ul>
        </nav>
      </div>

      <header class="page-header">
        <h1>hexagonal.js</h1>
        <p class="lead">Single Page Apps clean architecture</p>
      </header>

      {{content}}
    </div>
  </body>
</html>
